
<br> 
<h2>Locales</h2>

<div class="table-responsive">
  <table class="table table-hover ">
  <thead>
    <tr>
      <th>Nombre Local</th>
      <th>Número Latitud</th>
      <th>Número Longitud</th>
      <th>Dirección Local</th>
      <th>Nombre Distrito</th>
      <th>Número Telefono</th>
      <th>Abierto</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @locals.each do |local| %>
      <tr>
        <td><%= local.nomLocal %></td>
        <td><%= local.numLatitud %></td>
        <td><%= local.numLongitud %></td>
        <td><%= local.dirLocal %></td>
        <td><%= local.nomDistrito %></td>
        <td><%= local.numTelefono %></td>
        <td><%= local.inAbierto %></td>
        <% if user_signed_in? %>
        <td><%= link_to 'Ver', local, class: "btn btn-primary"  %></td>
        <td><%= link_to 'Editar', edit_local_path(local) , class: "btn btn-info" %></td>
        <td><%= link_to 'Eliminar', local, method: :delete, data: { confirm: 'Estas seguro?' } , class: "btn btn-danger" %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>
<% if user_signed_in? %>
<%= link_to 'Nuevo Local', new_local_path , class: "btn btn-success"%>
<% end %>
