<p id="notice"><%= notice %></p>

<p>
  <strong>Nomlocal:</strong>
  <%= @local.nomLocal %>
</p>

<p>
  <strong>Numlatitud:</strong>
  <%= @local.numLatitud %>
</p>

<p>
  <strong>Numlongitud:</strong>
  <%= @local.numLongitud %>
</p>

<p>
  <strong>Dirlocal:</strong>
  <%= @local.dirLocal %>
</p>

<p>
  <strong>Nomdistrito:</strong>
  <%= @local.nomDistrito %>
</p>

<p>
  <strong>Numtelefono:</strong>
  <%= @local.numTelefono %>
</p>

<p>
  <strong>Inabierto:</strong>
  <%= @local.inAbierto %>
</p>

<%= link_to 'Editar', edit_local_path(@local) , class: "btn btn-primary"%> |
<%= link_to 'Atras', locals_path, class: "btn btn-secondary" %>
