<p id="notice"><%= notice %></p>

<p>
  <strong>Nomservicio:</strong>
  <%= @servicio.nomServicio %>
</p>

<p>
  <strong>Inactivo:</strong>
  <%= @servicio.inActivo %>
</p>

<%= link_to 'Editar', edit_servicio_path(@servicio) , class: "btn btn-primary"%> |
<%= link_to 'Atras', servicios_path, class: "btn btn-secondary" %>
