
<p>
  <strong>Razon social:</strong>
  <%= @proveedor.razon_social %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @proveedor.direccion %>
</p>

<p>
  <strong>Distrito:</strong>
  <%= @proveedor.distrito %>
</p>

<p>
  <strong>Provincia:</strong>
  <%= @proveedor.provincia %>
</p>

<p>
  <strong>Departamento:</strong>
  <%= @proveedor.departamento %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @proveedor.telefono %>
</p>

<p>
  <strong>Celular1:</strong>
  <%= @proveedor.celular1 %>
</p>

<p>
  <strong>Celular2:</strong>
  <%= @proveedor.celular2 %>
</p>

<p>
  <strong>Correo:</strong>
  <%= @proveedor.correo %>
</p>

<p>
  <strong>Tipo servicio:</strong>
  <%= @proveedor.tipo_servicio %>
</p>

<p>
  <strong>Latitud:</strong>
  <%= @proveedor.latitud %>
</p>

<p>
  <strong>Longitud:</strong>
  <%= @proveedor.longitud %>
</p>

<p>
  <strong>Url:</strong>
  <%= @proveedor.url %>
</p>

<p>
  <strong>Hora inicio:</strong>
  <%= @proveedor.hora_inicio %>
</p>

<p>
  <strong>Hora fin:</strong>
  <%= @proveedor.hora_fin %>
</p>

<p>
  <strong>Foto local:</strong>
  <%= @proveedor.foto_local %>
</p>

<%= link_to 'Editar', edit_proveedor_path(@proveedor) %> |
<%= link_to 'Atras', proveedors_path %>
