<p id="notice"><%= notice %></p>

<p>
  <strong>Nomeje:</strong>
  <%= @eje.nomEje %>
</p>

<p>
  <strong>Imgeje:</strong>
  <%= @eje.imgEje %>
</p>

<p>
  <strong>Iconeje:</strong>
  <%= @eje.iconEje %>
</p>

<%= link_to 'Edit', edit_eje_path(@eje) %> |
<%= link_to 'Back', ejes_path %>
