<p id="notice"><%= notice %></p>

<p>
  <strong>Nombeneficio:</strong>
  <%= @beneficio.nomBeneficio %>
</p>

<p>
  <strong>Imgbeneficio:</strong>
  <%= @beneficio.imgBeneficio %>
</p>

<p>
  <strong>Puntbeneficio:</strong>
  <%= @beneficio.puntBeneficio %>
</p>

<p>
  <strong>Porcdescuento:</strong>
  <%= @beneficio.porcDescuento %>
</p>

<p>
  <strong>Infavorito:</strong>
  <%= @beneficio.inFavorito %>
</p>

<p>
  <strong>Idfavorito:</strong>
  <%= @beneficio.idFavorito %>
</p>

<p>
  <strong>Ideje:</strong>
  <%= @beneficio.idEje %>
</p>

<p>
  <strong>Nomeje:</strong>
  <%= @beneficio.nomEje %>
</p>

<p>
  <strong>Iconeje:</strong>
  <%= @beneficio.iconEje %>
</p>

<p>
  <strong>Iconseje:</strong>
  <%= @beneficio.iconSEje %>
</p>

<p>
  <strong>Idlocal:</strong>
  <%= @beneficio.idLocal %>
</p>

<p>
  <strong>Inabierto:</strong>
  <%= @beneficio.inAbierto %>
</p>

<p>
  <strong>Numlongitud:</strong>
  <%= @beneficio.numLongitud %>
</p>

<p>
  <strong>Numlatitud:</strong>
  <%= @beneficio.numLatitud %>
</p>

<p>
  <strong>Numdistancia:</strong>
  <%= @beneficio.numDistancia %>
</p>

<p>
  <strong>Nomdistrito:</strong>
  <%= @beneficio.nomDistrito %>
</p>

<%= link_to 'Editar', edit_beneficio_path(@beneficio), class: "btn btn-primary" %> |
<%= link_to 'Atras', beneficios_path, class: "btn btn-secondary" %>
