
<br> 

<h2>Ejes</h2>

<div class="table-responsive">
  <table class="table table-hover ">
  <thead>
    <tr>
      <th>Nombre de eje</th>
      <th>Imagen de eje</th>
      <th>Icono de eje</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ejes.each do |eje| %>
      <tr>
        <td><%= eje.nomEje %></td>
        <td><%= eje.imgEje %></td>
        <td><%= eje.iconEje %></td>
        <% if user_signed_in? %>
        <td><%= link_to '  Ver  ', eje, class: "btn btn-primary"  %></td>
        <td><%= link_to ' Editar ', edit_eje_path(eje) , class: "btn btn-info" %></td>
        <td><%= link_to 'Eliminar', eje, method: :delete, data: { confirm: 'Estas seguro?' } , class: "btn btn-danger" %></td>
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>
<% if user_signed_in? %>
<%= link_to 'Nuevo Eje', new_eje_path , class: "btn btn-success"%>
<%end%>