<p id="notice"><%= notice %></p>

<p>
  <strong>Nomeje:</strong>
  <%= @eje.nomEje %>
</p>

<p>
  <strong>Imgeje:</strong>
  <%= @eje.imgEje %>
</p>

<p>
  <strong>Iconeje:</strong>
  <%= @eje.iconEje %>
</p>

<%= link_to 'Editar', edit_eje_path(@eje) , class: "btn btn-primary"%> |
<%= link_to 'Atras', ejes_path, class: "btn btn-secondary" %>
