<p id="notice"><%= notice %></p>

<p>
  <strong>Nomempresa:</strong>
  <%= @empresa.nomEmpresa %>
</p>

<p>
  <strong>Desempresa:</strong>
  <%= @empresa.desEmpresa %>
</p>

<p>
  <strong>Urllogo:</strong>
  <%= @empresa.urlLogo %>
</p>

<p>
  <strong>Numsoporte:</strong>
  <%= @empresa.numSoporte %>
</p>

<p>
  <strong>Nomskype:</strong>
  <%= @empresa.nomSkype %>
</p>

<p>
  <strong>Inclave:</strong>
  <%= @empresa.inClave %>
</p>

<%= link_to 'Edit', edit_empresa_path(@empresa) %> |
<%= link_to 'Back', empresas_path %>
